version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    target-branch: 'main'
    labels:
      - 'ci dependencies'
      - 'ci'
    open-pull-requests-limit: 0

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    target-branch: 'main'
    labels:
      - 'dependencies'
    open-pull-requests-limit: 0
