@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
/* todo use "local" */

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  min-height: 100%;
}

@font-face {
  font-family: "Qwigley";
  src: url("/fonts/Qwigley-Regular.ttf");
}
