@import '@documenso/ui/styles/theme.css';

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/inter-regular.ttf') format('ttf');
  /* font-weight: 400;
  font-style: normal;
  font-display: swap; */
}

@font-face {
  font-family: 'Caveat';
  src: url('/public/fonts/caveat.ttf') format('ttf');
  /* font-weight: 400;
  font-style: normal;
  font-display: swap; */
}

@layer base {
  :root {
    --font-sans: 'Inter';
    --font-signature: 'Caveat';
  }
}
