@import "@documenso/ui/styles/theme.css";

/* Inter Variable Fonts */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-variablefont_opsz,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Inter Italic Variable Fonts */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-italic-variablefont_opsz,wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Caveat Variable Font */
@font-face {
  font-family: "Caveat";
  src: url("/fonts/caveat-variablefont_wght.woff2") format("woff2");
  font-weight: 400 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("/fonts/noto-sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Korean noto sans */
@font-face {
  font-family: "Noto Sans Korean";
  src: url("/fonts/noto-sans-korean.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Japanese noto sans */
@font-face {
  font-family: "Noto Sans Japanese";
  src: url("/fonts/noto-sans-japanese.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Chinese noto sans */
@font-face {
  font-family: "Noto Sans Chinese";
  src: url("/fonts/noto-sans-chinese.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply antialiased;
    font-optical-sizing: auto;
    font-synthesis: style;
  }

  :root {
    --font-sans: "Inter";
    --font-signature: "Caveat";
    --font-noto: "Noto Sans", "Noto Sans Korean", "Noto Sans Japanese", "Noto Sans Chinese";
  }
}
