name: Build and Push

on:
  push:
    branches:
      - main
      - dev

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: set version
        shell: bash
        run: |
          export branch="$(echo -n ${{ github.event.ref }} | sed 's#refs/heads/##g; s#/#-#g' | tr '[:upper:]' '[:lower:]')"
          echo "branch=${branch}" >> $GITHUB_ENV
          if [[ $branch == "main" ]]; then
            version="$(date +'%Y.%m.%d')-${{github.run_number}}"
          else
            version="$(date +'%Y.%m.%d')-${branch}-${{github.run_number}}"
          fi
          echo "version=$version" >> $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=schedule
            type=raw,pattern={{version}},value=${{ env.version }}
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: push git tag
        run: |
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com"
          git tag $version
          git push origin $version

      - name: "trigger deploy in k8s repo"
        if: ${{ contains(fromJson('["dev", "main"]'), env.branch) }}
        env:
          GH_TOKEN: ${{ secrets.DEPLOY_TRIGERRER_TOKEN }}
        run: |
          set -eux
          if [[ "${branch}" == "main" ]]; then
            env=prod
          elif [[ "${branch}" == "dev" ]]; then
            env=stg
          fi
          gh workflow run deploy.yml \
            --repo=${{ github.repository_owner }}/k8s --ref=main \
            -f app=documenso \
            -f app_version="${version}" \
            -f env=$env


